* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.header {
	width: 100%;
	height: 900px;
	background-color: #ccdef0;
	background-image: radial-gradient(circle 675px at center, #ffffff 0%, #ccdef0 100%);
}
.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 70px;
	margin-bottom: 90px;
}
.logo {
    font-size: 28px;
    line-height: 1;
    color: #000000;
}
.logo, span {
	font-weight: 900;
}
.logo span {
	color: #5abb33;
}
.nav {
	list-style: none;
	display: flex;
}
.nav__item {
	margin-right: 50px;
}
.nav__item:last-child {
	margin-right: 0;

}
.nav__link {
	color: #000;
	text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}
.nav__link:hover {
	text-decoration: underline;
}

.header-content {
	justify-content: space-between;
	display: flex;
}
.header-desc {
	width: 500px;
	padding-top: 90px;
}
.header__title {
    color: #000;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 35px;
}
.header__text {
	font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 35px;
}
.header__btn {
	display: inline-block;
    height: 65px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 33px;
    background-color: #fadb60;
    background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 62px;
    text-decoration: none;
}
.header-photo {
	width: 670px;
}

.footer {
	width: 100%;
	height:77px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cbcbcb;
	background-color: #232323;
}
.footer::before {
	content: "";
	display: table;
	clear: both;
}